.FormOne {

  &-form {
    padding: 2.25rem 0 0 8.875rem;
    //height: 100%;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;

    &__page {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.0625rem;
    }

    &__header {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 3.0625rem;
      padding: 4.375rem 0 2.5rem 0;
    }
  }
}