.FormOneForm {
  //height: 38.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-inputs {
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-0.25%);
  }
}