.FormSelect {
  display: flex;
  align-items: center;
  gap: 1.625rem;

  &-label {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &-select {
    background-color: transparent;
    width: 18.75rem;
    height: 3.125rem;

  }

}

