@import "src/sass/settings/colors";

.WhoWeHelpMenuButton {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  height: 5rem;
  width: 13rem;
  border: 0.75px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: none;
    color: $text;
  }

  &:hover {
    border-color: $text;
  }

  &:active {
    border-color: $button-border;
  }
}

.active {
  border-color: $text;
}