@import "src/sass/settings/colors";

.Menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 0.9375rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 400;
    color: $text;
    padding: 0.5625rem 1.25rem;
    border: 0.75px solid transparent;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      border-color: $text;
    }

    &:active {
      border-color: $button-border;
    }
  }
}