@import "src/sass/settings/colors";
@import "src/sass/settings/fonts";

.FormFiveForm {
  display: flex;
  gap: 8rem;

  &__header {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.0625rem;
    padding-bottom: 1.25rem;
  }

  &-address {
    &__inputs {
      height: 16.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-term {
    &__inputs {
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-bttn {
    position: absolute;
    bottom: 3.125rem;
    //left: 374.28px;
    left: 23.3925rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    min-width: 11.25rem;
    padding: 1.4375rem 3.25rem;
    border: 0.75px solid $text;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
    font-family: $font-base;
    background-color: transparent;

    &:active {
      border-color: $button-border;
    }

    &:disabled {
      color: rgba(60, 60, 60, 0.5);
      border-color: rgba(60, 60, 60, 0.5);
    }
  }
}