@import "src/sass/settings/colors";

.SimpleStepsBackground {
  background-color: $background-gray;
  width: 100vw;
  height: 20.31125rem;
  margin: 2.125rem auto;

  &__group {
    margin: 0 25.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}