.FormTwo{

  &-form {
    padding: 2.25rem 0 3.125rem 8.875rem;
    height: 49.8125rem;

    &__page {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.0625rem;
    }

    &__header {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 3.0625rem;
      padding: 4.375rem 0 3.125rem 0;
    }
  }
}