.FormSteps {
  //height: 55.1875rem;
  height: 66.375rem;
  width: 100vw;
  position: relative;

  &-background {
    background-image: url("../../assets/Background-Form.jpg");
    margin-top: 11.1875rem;
    width: 100vw;
    height: 55.1875rem;
    position: absolute;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
  }
}