@import "src/sass/settings/colors";
@import "src/sass/settings/fonts";

.ButtonSubmit {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  height: 3.125rem;
  width: 9.375rem;
  border: 0.75px solid $text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: $font-base;
  color: $text;

  &:active {
    border-color: $button-border;
  }
}