$background-gray: #F0F1F1;
$background-white: #FFFFFF;
$background-white-opacity: #FFFFFFC9;

$text-numbers: #5E5322;
$text-placeholder: #3C3C3C26;
$text: #3C3C3C;

$button-border: #FAD648;
$button-text: #737373;

$line-border: #707070;