.FormTwoForm {
  //height: 37.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-select {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}