@import "src/sass/settings/colors";

.DecorationRectangle {
  //height: 8.371875rem;
  //width: 8.371875rem;
  height: 11.875rem;
  min-width: 11.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    border: 0.75px solid $text;
    position: absolute;
    height: 8.371875rem;
    width: 8.371875rem;
    transform: rotate(45deg);
  }

  &-header {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 1.125rem auto 1rem;
  }

  &-text {
    font-size: 1.375rem;
    font-weight: 300;
    //padding: 0 3rem;
    text-align: center;
    margin: 0 3rem 3.8125rem 3rem ;
  }
}