@import "src/sass/settings/colors";
@import "src/sass/settings/fonts";

.ButtonNextPrevious {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  height: 5rem;
  width: 11.25rem;
  border: 0.75px solid $text;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text;
  font-family: $font-base;
  background-color: transparent;

  &:active {
    border-color: $button-border;
  }

  &:disabled {
    color: rgba(60, 60, 60, 0.5);
    border-color: rgba(60, 60, 60, 0.5);
  }
}